<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar primary>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="settings">

<ion-list>
  <ion-list-header>
    ผู้ป่วยในความดูแล
  </ion-list-header>

  <!--<ion-item>
      <ion-label>ผู้ป่วยในความดูแล</ion-label>
      <ion-select (ionChange)="selectPatient()" [(ngModel)]="selectedPatient">
        <ion-option *ngFor="#p of patients" [value]="p.hn">{{p.pname}} {{ p.fname }} {{ p.lname }}</ion-option>
      </ion-select>
    </ion-item>-->

    <ion-item *ngFor="#p of patients">
      <ion-thumbnail item-left>
        <img src="img/avatar-cher.png">
      </ion-thumbnail>
      <h2>{{p.pname}} {{ p.fname }} {{ p.lname }}</h2>
      <p>อายุ {{ p.age }} ปี</p>
          <ion-row>
      <ion-col>
        <button primary clear (click)="showTakePhotoAction(p.hn)">
          <ion-icon name="camera"></ion-icon>
          <div>รูปภาพ</div>
        </button>
      </ion-col>
      <ion-col>
        <button primary clear (click)="setDefault(p.hn)">
          <ion-icon name="bookmarks"></ion-icon>
          <div>เริ่มต้น</div>
        </button>
      </ion-col>
      <ion-col>
        <button danger clear>
          <ion-icon name="trash"></ion-icon>
          <div>ลบ</div>
        </button>
      </ion-col>
    </ion-row>
    </ion-item>
</ion-list>

<ion-list>
  <ion-list-header>
    <!--<ion-icon name="settings" primary itme-left></ion-icon>-->
    ตั้งค่าการใช้งาน
  </ion-list-header>
  <ion-item>
        <ion-toggle checked="true"></ion-toggle>
        <ion-label>
          ตรวจสอบข้อมูลนัดอัตโนมัติ
        </ion-label>
        <ion-icon name='calendar' item-left></ion-icon>
      </ion-item>

      <ion-item>
        <ion-toggle checked="false"></ion-toggle>
        <ion-label>
          ล๊อกอินอัตโนมัติ
        </ion-label>
        <ion-icon name='key' item-left></ion-icon>
      </ion-item>
</ion-list>

</ion-content>
