.settings {

    .action-sheet-icon .ion-md-camera {
      color: #31D55F;
    }
    
  .default {
    font-weight: bold;
  }
  
  .action-sheets-basic-page {
    .ion-md-share {
      color: #ED4248;
    }
    .ion-md-arrow-dropright-circle {
      color: #508AE4;
    }
    .action-sheet-icon .ion-md-camera {
      color: #31D55F;
    }
    .action-sheet-cancel ion-icon,
    .action-sheet-destructive ion-icon {
      color: #757575;
    }
  }
}
