
<ion-header>
  <ion-navbar primary>
    <!--<button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>-->
    <ion-title>นัดหมาย</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="calendar">
    <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="ios-arrow-round-down"
      refreshingSpinner="dots">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        รายการนัดหมาย
      </ion-item-divider>
      <button ion-item *ngFor="let item of appointments" (click)="goAppointDetail(item.oapp_id)">
        <h2>{{item.nextdate}} - {{item.nexttime}} น.</h2>
        <p>แผนก {{item.department}}</p>
        <p>คลินิก {{item.clinic_name}}</p>
        <ion-icon *ngIf="isAndroid" item-right name="arrow-forward" light></ion-icon>
      </button>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        เข้ารับบริการล่าสุด
      </ion-item-divider>
      <button ion-item *ngFor="let item of services" (click)="goAppointServiceDetail(item.vn)">
        <h2>{{item.ptname}}</h2>
        <p>{{item.vstdate}} - {{item.vsttime}} น.</p>
        <p>อาการ {{item.cc}}</p>
        <ion-icon *ngIf="isAndroid" item-right name="arrow-forward" light></ion-icon>
      </button>
    </ion-item-group>
  </ion-list>
</ion-content>
