
<ion-header>

  <ion-navbar primary>
    <ion-title>สิทธิการรักษา</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-item-divider>สิทธิการรักษาประจำตัว</ion-item-divider>
      <ion-item>
        สิทธิ์
        <ion-note item-right>
        {{ currentPttypeName }}
        </ion-note>
      </ion-item>

      <ion-item>
        เลขที่
        <ion-note item-right>
        {{ currentPttypeNo }}
        </ion-note>
      </ion-item>

      <ion-item>
        เริ่มใช้งาน
        <ion-note item-right>
        {{ currentBeginDate }}
        </ion-note>
      </ion-item>

      <ion-item>
        หมดอายุ
        <ion-note item-right>
        {{ currentExpireDate }}
        </ion-note>
      </ion-item>

      <ion-item>
        <ion-note item-right>
        {{ currentHmain }}
        </ion-note>
      </ion-item>

      <ion-item>
        <ion-note item-right>
        {{ currentHsub }}
        </ion-note>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>ประวัติการใช้สิทธิ์การรักษา</ion-item-divider>
      <button ion-item *ngFor="let item of historyPttype" (click)="goDetail(item.vn)">
        <h2>{{ item.pttype_name }}</h2>
        <p>{{ item.vstdate }} {{ item.vsttime }} น.</p>
        <ion-icon *ngIf="isAndroid" item-right name="arrow-forward" light></ion-icon>
      </button>
    </ion-item-group>
  </ion-list>
</ion-content>
