
<ion-header>
  <ion-navbar primary>
    <!--<button>
      <ion-icon name="menu"></ion-icon>
    </button>-->
    <ion-title>iChare</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="home">

  <ion-list no-lines>
    <ion-item-group>

      <ion-item-divider>SERVICE MENU</ion-item-divider>
      <button ion-item (click)="goOutPatient()">
        <ion-icon name="desktop" item-left large primary></ion-icon>
        <h2>Out Patient</h2>
        <p>แผนกผู้ป่วยนอก</p>
        <ion-icon *ngIf="isAndroid" item-right name="arrow-forward" light></ion-icon>
        <!--<ion-note item-right>21/01/2559</ion-note>-->
      </button>
      <button ion-item (click)="goIpd()">
        <ion-icon name="clipboard" item-left large teal></ion-icon>
        <h2>In Patient</h2>
        <p>แผนกผู้ป่วยใน</p>
        <ion-icon *ngIf="isAndroid" item-right name="arrow-forward" light></ion-icon>
        <!--<ion-note item-right>23/03/2559</ion-note>-->
      </button>
      <button ion-item (click)="goDrug()">
        <ion-icon name="cafe" item-left large green></ion-icon>
        <h2>Parmacy</h2>
        <p>การรับประทานยา (ผู้ป่วยนอก)</p>
        <ion-icon *ngIf="isAndroid" item-right name="arrow-forward" light></ion-icon>
        <!--<ion-note item-right>26/01/2559</ion-note>-->
      </button>
      <button ion-item (click)="goLab()">
        <ion-icon name="flask" item-left large danger></ion-icon>
        <h2>Laboratory</h2>
        <p>ผลตรวจห้องปฏิบัติการ</p>
        <ion-icon *ngIf="isAndroid" item-right name="arrow-forward" light></ion-icon>
        <!--<ion-note item-right>26/01/2559</ion-note>-->
      </button>
      <button ion-item (click)="goScreening()">
        <ion-icon name="chatbubbles" item-left large green></ion-icon>
        <h2>Screening</h2>
        <p>การคัดกรอง</p>
        <ion-icon *ngIf="isAndroid" item-right name="arrow-forward" light></ion-icon>
        <!--<ion-note item-right>23/03/2559</ion-note>-->
      </button>
      <button ion-item (click)="goVaccine()">
        <ion-icon name="medkit" item-left large orange></ion-icon>
        <h2>Vaccines</h2>
        <p>วัคซีน</p>
        <ion-icon *ngIf="isAndroid" item-right name="arrow-forward" light></ion-icon>
      </button>

    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>GENERAL INFORMATION</ion-item-divider>
      <button ion-item (click)="goAllergy()">
        <ion-icon name="logo-freebsd-devil" item-left large danger></ion-icon>
        <h2 danger><strong>DRUGALLERGY</strong></h2>
        <p>ข้อมูลการแพ้ยา</p>
        <ion-icon *ngIf="isAndroid" item-right name="arrow-forward" light></ion-icon>
      </button>
      <button ion-item (click)="goPttype()">
        <ion-icon name="logo-bitcoin" item-left large secondary></ion-icon>
        <h2>Insurance</h2>
        <p>ข้อมูลสิทธิการรักษา</p>
        <ion-icon *ngIf="isAndroid" item-right name="arrow-forward" light></ion-icon>
      </button>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>OTHER MENU</ion-item-divider>
      <button ion-item (click)="goPrivacy()">
        <ion-icon danger large item-left name="help-circle"></ion-icon>
        <h2>Privacy</h2>
        <p>ข้อตกลงการใช้โปรแกรม</p>
        <ion-icon *ngIf="isAndroid" item-right name="arrow-forward" light></ion-icon>
      </button>
      <button ion-item (click)="goAbout()">
        <ion-icon primary large item-left name="contact"></ion-icon>
        <h2>About</h2>
        <p>เกี่ยวกับโปรแกรม</p>
        <ion-icon *ngIf="isAndroid" item-right name="arrow-forward" light></ion-icon>
      </button>
      <button ion-item teal (click)="goLogout()">
        <ion-icon large item-left name="log-out"></ion-icon>
        <h2>Logout</h2>
        <p>ออกจากโปรแกรม</p>
        <ion-icon *ngIf="isAndroid" item-right name="arrow-forward" light></ion-icon>
      </button>
    </ion-item-group>

  </ion-list>

</ion-content>
