.login {
  button {
    font-size: 1em;
    padding: 20px;
  }

  ion-list-header {
    font-size: 1.2em;
  }

  .img-logo {
    text-align: center;
    padding: 10px;
  }

  background-color: #008487;
  
}
